@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  height: 4px !important;
  background-color: rgb(216, 22, 22) !important;
}

#nprogress .spinner {
  display: none !important;
}

.box-content {
  color: #fff !important;
}