@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Largura do Scroll */
::-webkit-scrollbar {
  width: 8px;
}

/* Track do Scroll */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle do Scroll */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

/* Mudar cor quando hover no Handle */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
